extends layout

block content
    w3-card-4
        .header.w3-container.w3-teal
            h1 Reparações Automobilísticas
        .w3-container
            table.w3-table-all
                tr
                    th ID 
                    th Data
                    th Nome
                    th Matrícula
                    th Marca
                    th Número de Intervenções

                each repair in repairs 
                    tr 
                        td 
                            a(href="/"+repair._id) #{repair._id}
                        td #{repair.data}
                        td #{repair.nome}
                        td #{repair.viatura.matricula}
                        td
                            a(href="/marca/"+repair.viatura.marca) #{repair.viatura.marca}
                        td #{repair.nr_intervencoes}
